*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
/* .logoimg{
    margin-left: 20px;
} */
/* .left-side>ul>li{
    margin-top: 20px;
} */
.sidebar{
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  
}
.header {
    background: #FFF;
    box-shadow: 2px 4px 16px 0px rgba(190, 190, 190, 0.25);
    position: sticky;
    top: 0;
    z-index: 1;   
}

.search-container input {
    width: 194px;
    height: 39px;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
    outline: none;
    color: #87888C;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 600;

}

.search-container input::placeholder {
    color: #87888C;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 600;
}


.search-container input[type="text"] {
    outline: none;
    color: #87888C;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 600;
}

.search-icon {
    position: absolute;
    color: #666666;
}
.profile-arrow>svg{
    margin-top: 5px;
}
.dropdown-menu{
    width: 200px;
}

.material-symbols-outlined {
    width: 16px;
    height: 16px;
    color: #4A4A4A; 
}
/* main content */
.project-heading{
    color: #000;

font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

/* search box style */
.search-container {
    position: relative;
    width: 200px;
    margin-right: 20px;
}

input[type="text"] {
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: #87888C;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.search-button {
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}
/* navlinks */
.active a{
 
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
} 
.active{
    background-color:rgba(0, 76, 255, 0.05);

}
.disabled-link a{
    color: #344054;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}

/* card section */
.box-section a{
    text-decoration: none;
}

.card {
    border-radius: 10px;
    background: #FFF;
    margin-top: 20px;
    margin-left: 10px;

}

#title {
    color: #000;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.badges {
    background-color: rgba(14, 184, 91, 0.12);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-right: 30px;
    line-height: normal;
    width: 90px;
    height: 30px;
    text-align: center;
}

.badges span {
    color: #0EB85B;
}

/* card-section */
#para1{
    color: #7B7B7B;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px; 
letter-spacing: 0.25px;
}
#para2{
    color: #000;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px; 
letter-spacing: 0.25px;
}
#para3{
    color: #000;
font-family: Mulish;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 22px; 
letter-spacing: 0.25px;
}
#para4{
    color: #7B7B7B;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 23px; 
}
/* + button */
.add-button {
    margin-top: 170px;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-color: #004CFF;
}

