.sidebar{
    background: #FFF;
box-shadow: 2px 4px 16px 0px rgba(190, 190, 190, 0.25);

}
.header{
    background: #FFF;
box-shadow: 2px 4px 16px 0px rgba(190, 190, 190, 0.25);
height: 60px;
}

.material-symbols-outlined {
    width: 16px;
    height: 16px;
    color: #4A4A4A; 
}
/* main content */
.project-heading{
    color: #000;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/* search box style */
.search-container {
    position: relative;
    width: 200px;
    margin-right: 20px;
}

input[type="text"] {
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: #87888C;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.search-button {
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}
/* card section */
.box-section a{
    text-decoration: none;
}

.card {
    border-radius: 10px;
    background: #FFF;
    margin-top: 20px;
    margin-left: 10px;

}

#title h5 {
    color: #000;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.badges {
    background-color: rgba(14, 184, 91, 0.12);
    ;

    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-right: 30px;
    line-height: normal;
    width: 90px;
    height: 30px;
    text-align: center;
}

.badges span {
    color: #0EB85B;

}
