<div class="d-flex align-items-center receipt-page-back">
    <div class="col-sm-12 d-flex">
        <div class="col-sm-2 d-flex align-items-center flex-row">
            <h5 class="app-subheading-h6">Invoice Details</h5>
        </div>
        <div class="col-sm-10 d-flex flex-row justify-content-end receipt-buttons">
            <button class="btn btn-link"><i class="bi bi-download"></i> Download pdf</button>
            <button class="btn btn-link"><i class="bi bi-printer"></i> Print</button>
            <button class="btn btn-link"><i class="bi bi-three-dots-vertical"></i> Action</button>
        </div>
    </div>
</div>
<div class="col-sm-12 d-flex">
    <div class="col-sm-4 p-2 receipt-details align-items-center">
        <div class="p-3 border rounded">
            <div class="col-sm-12 d-flex d-flex justify-content-between">
                <h2 class="app-subheading-h6">Details</h2>
            </div>
            <hr class="mb-3">
            <div class="col-sm-12 d-flex">
                <div class="col-sm-3">
                    <h6 class="info-label mb-5">Create by </h6>
                    <h6 class="info-label mb-5">Create On</h6>
                    <h6 class="info-label mb-5">Invoice # </h6>
                    <h6 class="info-label mb-5">Payment</h6>
                    <h6 class="info-label">Payment Mode</h6>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <h6 class="info-data mb-5">- Sales Manager</h6>
                    <h6 class="info-data mb-5">- 12/09/2023</h6>
                    <h6 class="info-data mb-5">- 0000001</h6>
                    <h6 class="info-data mb-5">- Paid</h6>
                    <h6 class="info-data">- Cash</h6>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>


    <div class="col-sm-8 p-2 receipt-details align-items-center">
        <div class="border rounded p-3">
            <div class="col-sm-12 d-flex">
                <div class="col-sm-6 d-flex justify-content-start">
                    <img src="/assets/images/receipt-logo.png">
                </div>
                <div class="col-sm-6 d-flex justify-content-end align-items-center">
                    <h5>Invoice</h5>
                </div>
            </div>
            <hr>
            <div class="col-sm-12 d-flex">
                <div class="col-sm-5 justify-content-start">
                    <h6>Billed to</h6>
                    <h6 class="title">Mr. Arun Ram</h6>
                    <p>3455 Geraldine Lane, New York 10013
                        United States</p>
                </div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-3  justify-content-end">
                    <h6>Date : 07/07/2023</h6>
                    <h6>Payment # : 0000001</h6>
                </div>
                <hr>
            </div>
            <hr>
            <div class="col-sm-12 pb-2">
                <table class="table">
                    <thead class="table-dark-bg">
                        <tr>
                            <th style="width: 35%;">Items</th>
                            <th style="width: 10%;">Qty</th>
                            <th style="width: 20%;">Price</th>
                            <th style="width: 15%;">GST</th>
                            <th style="width: 20%;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Stor:ie</th>
                            <td>1</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td>2,000.00</td>
                        </tr>
                        <tr>
                            <th scope="row">Lo:ev</th>
                            <td>1</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td>2,000.00</td>
                        </tr>
                        <tr>
                            <th scope="row">Re:one</th>
                            <td>1</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td>2,000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row total-calculation pb-5">
                <div class="col-sm-7">

                </div>
                <div class="col-sm-5">
                    <div class="col-sm-12 payment-ledger p-3">
                        <div class="row">
                            <div class="col-sm-12  d-flex justify-content-between align-items-center">
                                <div class="col-sm-8">
                                    <p class="text-start">Sub total</p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-end">₹6,000.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12  d-flex justify-content-between align-items-center">
                                <div class="col-sm-8">
                                    <p class="text-start">Discount</p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-end">₹92.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12  d-flex justify-content-between align-items-center">
                                <div class="col-sm-8">
                                    <p class="text-start">GST 18%</p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-end">₹0.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12  d-flex justify-content-between align-items-center">
                                <div class="col-sm-8">
                                    <p class="text-start font-bold">Total Amount</p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-end font-bold">₹6,092.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 d-flex aknowledge p-3">
                <div class="col-sm-4 justify-content-start align-items-center">
                    <p>4945 Forest Avenue, New York, 10004, United States, <br> 646-888-6885</p>
                </div>
                <div class="col-sm-5">
    
                </div>
                <div class="col-sm-3  justify-content-end align-items-center">
                    <h6>Signature authority</h6>
                    <h6>Ev Fort</h6>
                </div>
                <hr>
            </div>
        </div>
        
    </div>

</div>