* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.left-box li {
    position: relative;
    list-style: none;
    padding-top: 20px;

}

.left-box li a {
    text-decoration: none;
    color: black;

}

.header-body {
    overflow: hidden;
}

.span {
    position: absolute;
    margin-left: -30px;

}

.employee {
    width: 145px;

}

.person a {
    margin-left: -30px;
}
.detail h6{
    font-size: 15px;
    font-weight: 400;
}
.detail p{
    font-size: 13px;
}

.card-icon{
    position: absolute;
    padding-top: 10px;
    padding-left: 12px;
}

.submitted-section {
    height: 90px;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    background: #FFF;
}

.approval {
    width: 5px;
    background: #FFB406;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.submitted-approval h5 {
    color: #707070;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*  */

.submitted-approval h6 {
    color: #FFB406;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.approval-time h5 {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* approved timing style */

.approval-time h6 {
    color: #7E7E7E;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* approved style */
.approved-sucess h6{
    color: #00B71E;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.approved-sucess-style{
 
width: 5px;
background: #00B71E;;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}
/* rejected style */
.rejected h6{
    color: #EA1C2D;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.rejected-style{
    width: 5px;
background: #EA1C2D; 
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}